@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1 {
		@apply font-primary text-2xl font-bold md:text-4xl;
	}

	h2 {
		@apply font-primary text-xl font-bold md:text-3xl;
	}

	h3 {
		@apply font-primary text-lg font-bold md:text-2xl;
	}

	h4 {
		@apply font-primary text-base font-bold md:text-lg;
	}

	body {
		@apply font-primary antialiased;
	}
}

@layer utilities {
	.layout {
		@apply mx-auto w-10/12 max-w-2xl sm:w-11/12;
	}
}
